*.raw
*.txt
*.inf
*~
*.dax
*.tif
*.tiff
*.pyc
*.hdf5
*.png
*.npy
*.dat
tormenta/control/tifffile.py
tormenta/control/tifffile.c
tormenta/control/focus_data
tormenta/control/*_focusdata
tormenta/control/external/
tormenta/control/Presets/*
calibration
calibrationcurves